/* ==========================================================================
   Button Groups
   ========================================================================== */

.media-default-skin .media-button-group {
  display: flex;
  gap: calc(var(--spacing) * 0.3);
  align-items: center;

  @container media-root (width > 42rem) {
    gap: calc(var(--spacing) * 0.5);
  }
}
