/* ==========================================================================
   Input Feedback
   ========================================================================== */

.media-default-skin .media-input-feedback {
  position: absolute;
  inset-inline: 0;
  top: 0;
  bottom: calc(var(--spacing) * 14); /* Shift up a little in smaller containers */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  color: var(--media-color-primary, oklch(1 0 0));
  pointer-events: none;

  @container media-root (width > 24rem) {
    bottom: 0;
  }
}

/* --- Feedback islands ------------------------------------------------------- */

.media-default-skin .media-input-feedback-island {
  --media-surface-background-color: oklch(0 0 0 / 0.25);
  position: absolute;
  top: calc(var(--spacing) * 3);
  font-weight: 500;
  color: inherit;
  pointer-events: none;
  border-radius: calc(Infinity * 1px);
  transform-origin: top center;
  transition-timing-function: ease-out;
  transition-duration: 100ms;

  .media-input-feedback-island__content {
    display: flex;
    gap: calc(var(--spacing) * 2);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2.5);

    /* Increase contrast of the content */
    * {
      mix-blend-mode: difference;
    }
  }

  .media-icon {
    display: none;
    flex-shrink: 0;
  }

  .media-input-feedback-island__value {
    margin-left: auto;
  }

  @media (pointer: coarse) {
    transition-property: scale, translate, opacity;
    will-change: scale, translate, opacity;
  }

  @media (pointer: fine) and (prefers-reduced-motion: no-preference) {
    transition-property: scale, translate, filter, opacity;
    will-change: scale, translate, filter, opacity;
  }

  @media (prefers-reduced-transparency: reduce) or (prefers-contrast: more) {
    --media-surface-background-color: oklch(0 0 0);
  }

  /* Default hidden state */
  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transition-timing-function: ease-in;
    transition-duration: 250ms;

    @media (pointer: fine) and (prefers-reduced-motion: no-preference) {
      filter: blur(8px);
      scale: 0.9;
    }

    @media (prefers-reduced-motion: no-preference) {
      &[data-ending-style] {
        translate: 0 -25%;
      }
    }
  }
}

.media-default-skin .media-input-feedback-island--volume {
  width: min(80%, calc(var(--spacing) * 48));

  .media-input-feedback-island__content {
    --media-progress-fill: var(--media-volume-fill);
    background-image: linear-gradient(
      to right,
      currentColor 0%,
      currentColor var(--media-progress-fill),
      transparent var(--media-progress-fill),
      transparent 100%
    );
    border-radius: inherit;
    transition: --media-progress-fill 200ms linear;
  }

  &[data-level="high"] .media-icon--volume-high,
  &[data-level="low"] .media-icon--volume-low,
  &[data-level="off"] .media-icon--volume-off {
    display: block;
  }

  @media (prefers-reduced-motion: no-preference) {
    &[data-min],
    &[data-max] {
      animation: media-shake 300ms ease-in-out;
    }
  }
}

.media-default-skin .media-input-feedback-island--status {
  &[data-status="captions-on"] .media-icon--captions-on,
  &[data-status="captions-off"] .media-icon--captions-off,
  &[data-status="fullscreen"] .media-icon--fullscreen-enter,
  &[data-status="exit-fullscreen"] .media-icon--fullscreen-exit,
  &[data-status="pip"] .media-icon--pip-enter,
  &[data-status="exit-pip"] .media-icon--pip-exit {
    display: block;
  }
}

/* --- Bubble ---------------------------------------------------------------- */

.media-default-skin .media-input-feedback-bubble {
  display: grid;
  grid-row: 1;
  grid-column: 2;
  place-content: center;
  padding: calc(var(--spacing) * 4);
  text-align: center;

  /* Central bubble (play, pause) */
  &:not([data-direction]) {
    background: oklch(0 0 0 / 0.35);
    border-radius: 100%;
    backdrop-filter: blur(8px);
    transition-timing-function: ease-out;
    transition-duration: 200ms;
    transition-property: opacity, scale;

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
      scale: 0.85;
    }

    &[data-ending-style] {
      transition-timing-function: ease-in;
      transition-duration: 100ms;
    }

    @media (prefers-reduced-motion: reduce) {
      transition-duration: 50ms;
      transition-property: opacity;
    }
  }

  /* Directional bubbles (seek) */
  &[data-direction] {
    gap: calc(var(--spacing) * 1);

    @container media-root (width > 24rem) {
      padding: calc(var(--spacing) * 6);
    }
  }

  &[data-direction="backward"] {
    grid-column: 1;
    justify-self: left;
  }

  &[data-direction="forward"] {
    grid-column: 3;
    justify-self: right;
  }

  /* Icons */
  .media-icon {
    display: none;
    width: calc(var(--media-icon-size) * 1.5);
    height: calc(var(--media-icon-size) * 1.5);

    &.media-icon--play {
      translate: 1px 0;
    }
  }

  &[data-direction] .media-icon--seek,
  &[data-status="pause"] .media-icon--pause,
  &[data-status="play"] .media-icon--play {
    display: block;
  }

  &[data-direction="backward"] .media-icon--seek {
    scale: -1 1;
  }

  @media (prefers-reduced-motion: no-preference) {
    .media-icon--seek {
      transition-timing-function: ease-in-out;
      transition-duration: 200ms;
      transition-property: translate, opacity;
    }

    &[data-starting-style] .media-icon--seek,
    &[data-ending-style] .media-icon--seek {
      opacity: 0;
    }

    &[data-direction="forward"][data-starting-style] .media-icon--seek {
      translate: -60% 0;
    }
    &[data-direction="backward"][data-starting-style] .media-icon--seek {
      translate: 60% 0;
    }
  }
}
