@import "./components/reset.css";
@import "./components/root.css";
@import "./components/surface.css";
@import "./components/media.css";
@import "./components/overlay.css";
@import "./components/buffering.css";
@import "./components/error.css";
@import "./components/controls.css";
@import "./components/time.css";
@import "./components/button.css";
@import "./components/button-group.css";
@import "./components/badge.css";
@import "./components/icons.css";
@import "./components/poster.css";
@import "./components/thumbnail.css";
@import "./components/slider.css";
@import "./components/popup.css";
@import "./components/menus.css";
@import "./components/captions.css";
@import "./components/input-feedback.css";
@import "../../shared/css/video/icon-state.css";
@import "../../shared/global/video/keyframes.css";
@import "../../shared/global/video/properties.css";

/* ==========================================================================
   Root
   ========================================================================== */

.media-default-skin--video {
  --media-spring-timing-function: linear(
    0,
    0.034 1.5%,
    0.763 9.7%,
    1.066 13.9%,
    1.198 19.9%,
    1.184 21.8%,
    0.963 37.5%,
    0.997 50.9%,
    1
  );
  --media-border-color: oklch(0 0 0 / 0.1);
  --media-surface-background-color: oklch(1 0 0 / 0.1);
  --media-surface-inner-border-color: oklch(1 0 0 / 0.1);
  --media-surface-outer-border-color: oklch(0 0 0 / 0.1);
  --media-surface-shadow-color: oklch(0 0 0 / 0.15);
  --media-surface-backdrop-filter: blur(16px) saturate(1.5);

  /* We have to create an alias so that the shadow DOM can inherit the custom property value */
  --media-video-border-radius: var(--media-border-radius, 1.75rem);

  --media-controls-transition-duration: 100ms;
  --media-controls-transition-timing-function: ease-out;

  --media-error-dialog-transition-duration: 350ms;
  --media-error-dialog-transition-delay: 100ms;
  --media-error-dialog-transition-timing-function: var(--media-spring-timing-function);

  --media-popup-transition-duration: 100ms;
  --media-popup-transition-timing-function: ease-out;

  overflow: clip;
  background: oklch(0 0 0);

  @media (prefers-reduced-motion: reduce) {
    --media-error-dialog-transition-duration: 50ms;
    --media-error-dialog-transition-delay: 0ms;
    --media-error-dialog-transition-timing-function: ease-out;
    --media-popup-transition-duration: 0ms;
  }

  @media (prefers-color-scheme: dark) {
    --media-border-color: oklch(1 0 0 / 0.15);
  }

  @media (prefers-reduced-transparency: reduce) or (prefers-contrast: more) {
    --media-surface-background-color: oklch(0 0 0);
    --media-surface-inner-border-color: oklch(1 0 0 / 0.25);
    --media-surface-outer-border-color: transparent;
  }

  &:has(.media-controls:not([data-visible])) {
    /* Slight delay to hide controls on non-touch devices after interaction */
    @media (pointer: fine) {
      --media-controls-transition-duration: 300ms;
    }
    @media (pointer: coarse) {
      --media-controls-transition-duration: 150ms;
    }
    @media (prefers-reduced-motion: reduce) {
      --media-controls-transition-duration: 50ms;
    }
  }

  /* Inner border ring */
  &::after {
    position: absolute;
    inset: 0;
    z-index: 10;
    pointer-events: none;
    content: "";
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px var(--media-border-color);
  }

  &:fullscreen {
    --media-border-radius: 0;

    &::after {
      display: none;
    }

    .media-controls {
      max-width: 1024px;
      margin-inline: auto;
    }

    @media (width > 1536px) {
      --scale: 1.25;

      .media-controls {
        max-width: 1152px;
      }
    }
    @media (width > 1920px) {
      --scale: 1.5;

      .media-controls {
        max-width: 1280px;
      }
    }
  }
}

/* ==========================================================================
   Error Dialog
   ========================================================================== */

.media-default-skin--video .media-error {
  position: absolute;
  inset: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-default-skin--video .media-error__dialog {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3);
  max-width: calc(var(--spacing) * 72);
  padding: calc(var(--spacing) * 3);
  color: oklch(1 0 0);
  text-shadow: 0 1px 0 oklch(0 0 0 / 0.25);
  border-radius: calc(var(--spacing) * 7);
  transition-delay: var(--media-error-dialog-transition-delay);
  transition-timing-function: var(--media-error-dialog-transition-timing-function);
  transition-duration: var(--media-error-dialog-transition-duration);
  transition-property: opacity, scale;
}

.media-default-skin--video .media-error[data-starting-style] .media-error__dialog,
.media-default-skin--video .media-error[data-ending-style] .media-error__dialog {
  opacity: 0;
  scale: 0.5;
}
.media-default-skin--video .media-error[data-ending-style] .media-error__dialog {
  transition-delay: 0ms;
}

.media-default-skin--video .media-error__content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 2) calc(var(--spacing) * 1.5);
  text-shadow: inherit;
}

.media-default-skin--video .media-error__title {
  font-size: var(--font-size-medium);
}

/* ==========================================================================
   Controls (hide/show behavior)
   ========================================================================== */

.media-default-skin--video .media-controls {
  --inset-factor: 2;
  --inset: calc(var(--spacing) * var(--inset-factor));
  --base-boundary-offset: var(--inset-factor);

  position: absolute;
  z-index: 10;
  color: var(--media-color-primary, oklch(1 0 0));
  transition-timing-function: var(--media-controls-transition-timing-function);
  /* Speed up the entry transition */
  transition-duration: calc(var(--media-controls-transition-duration) / 2);

  &.media-controls--primary {
    inset-inline: var(--inset);
    bottom: var(--inset);
    transform-origin: bottom;

    &:not([data-visible]) {
      translate: 0 4px;
    }
  }

  &.media-controls--secondary {
    top: var(--inset);
    right: var(--inset);
    container-type: normal;
    transform-origin: top;

    @container media-root (width >= 32rem) {
      display: none;
    }

    &:not([data-visible]) {
      translate: 0 -4px;
    }
  }

  &:not([data-visible]) {
    pointer-events: none;
    opacity: 0;
    scale: 0.95;
    transition-duration: var(--media-controls-transition-duration);

    @media (pointer: fine) and (prefers-reduced-motion: no-preference) {
      filter: blur(8px);
    }

    @media (prefers-reduced-motion: reduce) {
      scale: 1;
    }
  }

  & .media-time-controls {
    flex: 1;

    @container media-controls (width >= 30rem) {
      padding-inline: calc(var(--spacing) * 2.5);
    }
  }

  @media (pointer: fine) {
    transition-property: filter, opacity, scale, translate;
    will-change: filter, opacity, scale, translate;
  }

  @media (pointer: coarse) {
    transition-property: opacity, scale, translate;
    will-change: opacity, scale, translate;
  }

  @container media-root (width > 42rem) {
    --inset-factor: 3;
    column-gap: calc(var(--spacing) * 0.5);
  }
}

.media-default-skin--video:not(.media-default-skin--live) .media-controls--primary {
  & .media-button--seek,
  & .media-button--cast,
  & .media-button--airplay,
  & .media-button--pip,
  & .media-button--fullscreen {
    @container media-root (width < 32rem) {
      display: none;
    }
  }
}

.media-default-skin--video .media-error[data-open] ~ .media-controls {
  display: none;
}

/* Hide cursor when controls are hidden */
.media-default-skin--video:has(.media-controls:not([data-visible])) {
  cursor: none;
}

/* ==========================================================================
   Sliders
   ========================================================================== */

.media-default-skin--video .media-slider__track {
  background-color: oklch(1 0 0 / 0.2);
  box-shadow: 0 0 0 1px oklch(0 0 0 / 0.05);
}

.media-default-skin--video .media-slider__thumbnail {
  --max-width: calc(var(--spacing) * 44);
  --max-height: calc(var(--spacing) * 32);
  --padding: calc(var(--spacing) * -4.5);
  /**
    Inset is the difference between the container width and the slider (100%) width.
    Divided by 2 as we render the time on both sides.
  */
  --inset: calc((100cqi - 100%) / 2);

  position: absolute;
  bottom: calc(100% + calc(var(--spacing) * 4.8));
  left: clamp(
    calc(var(--max-width) / 2 + var(--padding) - var(--inset)),
    var(--media-slider-pointer),
    calc(100% - var(--max-width) / 2 - var(--padding) + var(--inset))
  );
  pointer-events: none;
  opacity: 0;
  filter: blur(8px);
  transform-origin: bottom;
  scale: 0.8;
  translate: -50%;
  transition-timing-function: ease-out;
  transition-duration: 150ms;
  transition-property: scale, opacity, filter;

  & .media-thumbnail__image {
    max-width: var(--max-width);
    max-height: var(--max-height);
  }
}
.media-default-skin--video .media-slider[data-pointing] .media-slider__thumbnail:has([role="img"]:not([data-hidden])) {
  opacity: 1;
  filter: blur(0);
  scale: 1;
}
.media-default-skin--video
  .media-slider__thumbnail:has([role="img"]:not([data-hidden]))
  + .media-slider__preview
  .media-slider__value {
  display: none;
}
